/** CASCADING.STYLE.SHEETS
/** DESCRIBE.LA.PRESENTACION.DE.LOS.DOCUMENTOS.HTML
/** UN.DOCUMENTO.HTML.PUEDE.TENER.MULTIPLES.CSS

/** Es.un.lenguaje.de.diseño.grafico.
/** CSS (siglas en inglés de Cascading Style Sheets; en español: «hojas de estilo en cascada»)
/** es un lenguaje informático especializado en definir y cohesionar la presentación de un
/** documento escrito en un lenguaje de marcado como HTML
/** Aparece.en.diciembre.de.1996.
/** con.el.navegador.de.internet.Explorer.3

Las.reglas.de.css.se.agregan.en.un.orden.especifico.
selector{
}*/

#titulo{
    color: tomato;
}

p.texto{ /**clase.texto.dentro.de.parrafo*/
    color:slateblue;

}
p.especial{ /** clase.especial.dentro.del.parrafo*/
    color: mediumseagreen;
}
div p{ /** parrafos.dentro.de.un.div */
    color: aqua;
}

div h2, div h3{
    color: brown;
}

*{ /** selector.universal*/
    font-size: 24px;
    /**color: black; /** NO.CAMBIA.PROPIEDADES.YA.DEFINIDAS.SOLO.ASIGNA*/
                    /** SOLO.ASIGNA.LAS.QUE.NO.SE.HAN.DENINIDO.ANTES.*/

}
/*
.color{
    color: #ff0000;
}
    .color{
    color: rgb(255,0,0); /** colores.parametros.del.0.a.255
}*/

.color{
    /** border: 5px black solid ; */
    /**
    /** dotted,dash,solid,double,
    /** groove,ridged,inset.outset, efecto.3d.dependiendo.del.color
    /** none.hidden
    */
    border-style: solid;
    border-color: blue;
    border-radius: 5px;
    border-width: 2rem;
    //**    */
}
#fondo{
    height: 200px;
    background-color: rgba(255, 0, 0); /** si.de.define.la.opacidad.solo.pasa.al.color */
    /**opacity: 0.60;  pasa.la.opacidad.al.elemento.entero. */
    /*background-image: url("../sanpedro.jpg");
    background-size: 100px 100px ;
    background-repeat: repeat-x;
    background-position: right center;*/
    background: #f00 url('../sanpedro.jpg') repeat-x left center / 100px 100px;

}
.margen{
    background-color: chocolate;
    /**margin: 15px 20px 25px 30px; /** superior,derecho,inferior.e.izquierdo*/
    margin: 15px;
    /**padding: 30px 25px 20px 15px; /** */
    padding: 30px 15px; /** ESTABLECE.PADDING.HORIZONTAL.Y.VERTICAL*/
    padding: 30px 15px 5px;/**HORIZONTAL.VERTICAL.Y.3ERO.INFERIOR.*/
    border: solid 1px black;
    height: 100px;
    width: 50px;
    overflow: hidden;/**oculta.el.contenido.que.salga.de.la.dimension.indicada*/
    overflow: scroll;
    outline: 1px red solid;
}
.text{

    font-family: 'Roboto', sans-serif;
    text-align: justify;
    text-decoration: overline;
    text-shadow: 3px 5px 4px blue;//** El.3er.parametro.difumina.la.sombtra */

}
/** Este.es.el.ordencorrecto.de.los.estados.para.un.ancord*/
a:link{ /**cuando.el.link.no.ha.sido.visitado.. */
    color: blueviolet;
}
a:visited{
    color: grey;
}
a:hover{
    color: yellow;
}
a:active{
    color: red;
}
ul  {
    background-color: cyan;
    list-style-type: upper-roman;/** quita.los.estilos.de.la.lista  */
    /**padding-left: 0px;*/
    /**list-style-position: inside;*/
}
table {
    width: 100%;
    border-collapse: collapse;

}

th, td {
    border: solid 1px #eee;
    padding: 05px;
}
th{
    background-color: tomato;
    color: white;
    text-align: left;

}
tr:nth-child(even){ /**Funcion.que.formatea.la.tabla.para.que.se.vea.de.difrentes.colo.res, Even.significa.impar.*/
    background-color: #eee;
}

tr:hover{
    background-color: #aaa;
    cursor: pointer;
}
span {
    display:block; /**/
    /**display: none; forza.el.no.despliegue.de.la.informacion*/
    /**visibility: hidden; /**oculta.la.visibilidad*/
    max-width: 300px; /** formatea.maximo.ancho.*/
    background-color: #f00;

}
.inline {
    display: inline; /** elimina.los.saltos.de.linea.*/

}
#position{ /** selector.de.id*/
    position: relative ; /**La.posicion.por.defecto.es.relativa*/
    left: 20px;  /**Indica.desde.la.posicion.cuanto.debe.moverse*/
    /** top: 25px; */


}
.left{
    float: left;
    width: 200px;
    height: 200px;

}
.container{
    height: 200px;
}
.right{
    float: right;
}
.column {
/*     border: solid 0px #ddd;
    border-radius: 5px ; */
    margin: 0 ;
    padding: 10px 0;
    width: 33.33%;
}
.inline-block {
    display: inline-block; /**define.bloques.respetando.parametro.height*/
    height: 55px;           /**cuando.se.define.inline.no.respeta.height*/
    background-color: #f00;


}
.center {   /** siempre.hay.que.definir.un.ancho.mas.no.del.100,debe.ser.menor*/
    padding: 50px 0px;
    text-align: center;
    width: 200px;
    margin: 0 auto; /** siempre.primer.parametro.verticalmente.es.0,segundo.par.es.horizontal*/
    background-color: aqua;

}
