/* Reset básico */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', sans-serif;
}

.navbar {
    display: flex;
    justify-content: space-between; /* Espacio entre logo, links y botón */
    align-items: center;
    background-color: #2d3436;
    padding: 1rem 5%;
    color: white;
    position: sticky; /* Se queda fija arriba al hacer scroll */
    top: 0;
}

.logo {
    font-size: 1.5rem;
    font-weight: bold;
    color: #00cec9;
}

.nav-links {
    display: flex;
    list-style: none;
}

.nav-links li {
    margin: 0 15px;
}

.nav-links a {
    text-decoration: none;
    color: white;
    transition: color 0.3s;
}

.nav-links a:hover {
    color: #00cec9; /* Efecto al pasar el mouse */
}

.btn-cta {
    background-color: #00cec9;
    color: white;
    border: none;
    padding: 8px 20px;
    border-radius: 5px;
    cursor: pointer;
    font-weight: bold;
}

